/* append_css_profile_member */
.card-profile {
    margin-left: 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border : 0px ;
    padding: 20px;
    margin-bottom: 20px;
  }

.card-pembahasan {
  font-family: Roboto;
  width: 30%;
  height: 400px;
  margin-right: 0px;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}
  
.main-profile {
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border : 0px ;
  border-radius: 5px;
  padding : 20px;
}
  
.info-profile {
  display : flex;
  align-items: center;
  margin-bottom: 30px;
}
  
.profile__ava {
  display : inline-block;
  align-items: center;
  width : 50px;
  height : 50px;
  border-radius : 50%;
  background-position : 50%;
  background-size : cover;
  margin-right : 10px;
}

.profile-nav {
  width: 350px;
}

.profile-nav__link {
  display : block;
  padding : 10px;
  color : inherit;
  border-radius : 4px;
  margin-bottom : 10px;
  background-color :#dbdbdb;
}

.pembahasan_link {
  background-color :#EE390F;
  color :#ffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  padding : 10px;
  width: 50%;
  border-radius : 5px;
  margin-bottom : 30px;
}

.profile-nav__link.active,
.profile-nav__link:hover {
  background-color: darkorange;
  color :#fff;
  font-weight: 500;
}

.form-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px; }
  .form-header--stack {
    display: block; }

.form-edit__avatar {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.form-edit__dropzone {
  display : inline-block;
  border-radius : 50%;
  background-position : 50%;
  background-size : cover;
  margin-right : 10px; }

.btn-upload{
  background-color: transparent;
  color: #EE390F;
}
.input{
  position: absolute;
 font-size: 25px;
 opacity: 0;
 cursor: pointer;
 padding: 10px;
 width: 80px;
}

.form-edit__change-photo {
  background: none;
  border: none;
  box-shadow: none;
  color: #EE390F;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
  min-width: inherit;
}

.form-edit__btn {
  position: relative;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  border: 1px solid #F9B700;
  color: #ffffff;
  background: #F9B700;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 11px 15px;
  border-radius: 100px;
  text-align: center;
}

.form-create__btn {
  position: relative;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: #F9B700;
  cursor: pointer;
  padding: 11px 15px;
  border-radius: 100px;
  border-color: transparent;
  text-align: center;
}

/* fields */

.fields {
    text-align: left;
    margin-bottom: 20px; }
    .fields__label {
      display: block;
      color: #181818;
      margin-bottom: .5em; }
    .fields__label--no-label {
      display: none; }
    .fields__input {
      border-radius: 4px;
      border: solid 1px #dedede;
      padding: .5em 1em;
      width: 100%; }
      .fields__input:focus {
        outline: 0;
        border-color: #3cc4e5; }
      .fields__input--error {
        border-color: #fb4040; }
    .fields__error {
      display: block;
      padding: .25em 0; }
    .fields .star {
      color: #3cc4e5;
      margin-left: .25em;
      font-size: 1.25em; }

/*textarea*/
 .textarea__input {
    border-radius: 4px;
    border: solid 1px #dedede;
    padding: .5em 1em;
    width: 100%;
    height: 100px;
    margin-bottom: 10px; }
    .textarea__input-big {
      height: 210px; }
    .textarea__input:focus {
      outline: 0;
      border-color: #3cc4e5; }
    .textarea__input--error {
      border-color: #fb4040; }
  .textarea__error {
    display: block;
    padding: .25em 0; }

.btn-active {
  display: inline-block;
  padding: 10px;
  position: relative;
  background-color :#EE390F;
  color :#fff;
}
.btn-icon {
  border: 0px;
  background: transparent;
  margin:0px;
  padding: 0px;
}