#image-preview{
    display:none;
    width : 90%;
    height : 90%;
}

.m-header.rata {
    background-color: #1b83c0 !important;
}

img.rata {
    height: 80px !important;
}

img.rata_login {
    
    height:150px !important;
    padding-left: 15%;
}

img.rata_img {
    height: 150px;
    padding-left: 13%;
   
}

.btn-focus.rata {
    color: #fff;
    background-color: #1b83c0 !important;
    border-color: #1b83c0 !important
    ;
}

.btn-focus.rata:hover {
    background-color: #da2a32 !important;
    border-color: #c43037 !important;
    box-shadow: #1b83c0;
}

.btn-outline-focus.rata {
    border-color: #1b83c0 !important;
    color : #1b83c0 !important;
}

.btn-outline-focus.rata:hover{
    border-color: #1b83c0 !important;
    background-color: #d1444b !important;
}

.form-control.m-input--air.rata {
    -webkit-box-shadow: 0px 3px 20px 0px rgba(145, 148, 206, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(68, 68, 68, 0.11);
}


.form-control.m-input--air.rata:focus {
    border:1px solid #f5bbbe;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #f5bbbe;
    background-color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #575962;
    background-color: white !important;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(145, 148, 206, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(68, 68, 68, 0.11);
}

@media (max-width: 1024px){
.m-brand {
    width: 100%;
    position: relative;
    height: 65px !important;
    padding: 0px 25px;
    background-color: #282a3c !important;
    z-index: 2;
}
img.rata {
    height: 65px !important;
}

.m-brand .m-brand__tools .m-brand__icon>i {
    color: #ffffff;
}

}


.bootstrap-select.show>.dropdown-toggle.btn-light, .bootstrap-select.show>.dropdown-toggle.btn-secondary.rata {
    border-color:#f5bbbe !important;
}
.bootstrap-select>.dropdown-toggle.btn-light:focus, .bootstrap-select>.dropdown-toggle.btn-light.active, .bootstrap-select>.dropdown-toggle.btn-secondary:focus, .bootstrap-select>.dropdown-toggle.btn-secondary.active.rata {
    background-color: transparent;
    border-color: #f5bbbe !important;
}

.btn-rata {
    color: #fff;
    background-color: #1b83c0;
    border-color: #1b83c0;
}
.btn-rata:hover{
    color:#fff;
    background-color: #009ffc;
    border-color: #009ffc;
}
.edit-profile {
    margin-top: -3rem;    
    float: right;
}
.borderless th,td,tr{
    border:none !important;
}

.borderless th{
    width: 30%;
}
.right{
    width: 30%;
}

.m-timeline-2.mid:before{
    background-color: #ffffff;
}
.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-left: 18rem;
}
.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
    left: 16rem;
}

.quisioner{
    width:23rem;
}

.m-btn--icon.m-btn--icon-only [class^="la-"], .m-btn--icon.m-btn--icon-only [class*=" la-"].trash {
    font-size: 1.3rem;
    color: white;
}

.col-width{
    width: 40%;
}

.center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.caption{
    padding: 20px 30px;
    text-align: center;
}

.caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.red{
    color: #1b83c0 !important;
}

.grey{
    color: #cecece !important;
}

div.modal-footer{
    justify-content: flex-start;
}

div.m-dropdown__header.m--align-center{
    background: url(app/media/img/misc/user_profile_bg.jpg);
    background-size: cover;
}
